<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS Practice</title>
</head>
<body>

    <div id="vue-root">
        <span>Enter your Name</span>
        <input type="text" v-model="name">
        <h2>My name is: {{name}}</h2>

        <ul>
            <li><a :href="link1.url" :title="link1.title">{{link1.text}}</a></li>
            <li><a :href="link2.url" :title="link2.title">{{link2.text}}</a></li>
        </ul>

        <ul class="skils">
            <li v-for="(skill, index) in skills">{{index+1}}. {{skill}}</li>
        </ul>
        <input type="text" v-model="newSkill">
        <button @click="addNewSkill">add new skill</button>

        <h3>payments</h3>
        <ul>
            <li v-for="(payment, index) in payments">
                {{payment.name}} ({{payment.amount}})
            </li>
        </ul>

        <h3>unpaid payments</h3>
        <ul>
            <li v-for="(payment, index) in unpaidPamynts">
                {{payment.name}} ({{payment.amount}})
            </li>
        </ul>

        <h3>Total amount: {{totalAmount}}</h3>
    </div>
    
    <script type="text/javascript" src="assets/js/vue.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
</body>
</html>